services:
  sonofradarrnotifications:
    image: ghcr.io/mwcaisse/son-of-rad-arr-notifications
    ports:
      - "8080:8080"
    environment:
      SORAN_EMAIL_ACCESS_KEY: ""
      SORAN_EMAIL_SECRET_KEY: ""
      SORAN_EMAIL_REGION: ""
      SORAN_EMAIL_FROM_ADDRESS: ""
      SORAN_EMAIL_FROM_ADDRESS_NAME: ""
      SORAN_EMAIL_TO_ADDRESS: ""