name: Build and Publish docker image
on:
  workflow_dispatch:
  push:
    branches:
      - master
      
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
    
jobs:
  
  build_publish_gitlab:
    name: "Build and Publish image (Gitlab)"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v4
        
      - name: Build and Publish
        uses: mwcaisse/gha-common/actions/build_and_push_image@master
        with:
          registry: registry.gitlab.com
          username: ${{ vars.GITLAB_USERNAME }}
          password: ${{ secrets.GITLAB_TOKEN }}
          tags: |
            registry.gitlab.com/mwcaisse/application-images/son-of-rad-arr-notifications:latest
            registry.gitlab.com/mwcaisse/application-images/son-of-rad-arr-notifications:${{ github.sha }}   
           
 # TODO: Combine this with the job above? (at some point) 
  build_publish_github:
    name: "Build and Publish image (Github)"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout master
        uses: actions/checkout@v4

      - name: Build and Publish
        uses: mwcaisse/gha-common/actions/build_and_push_image@master
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}               
  
  scan_image:
    name: "Scan image for CVEs"
    needs:
      - build_publish_github
    runs-on: ubuntu-latest
    steps:
        - name: Trivy Vulnerability Scanner      
          uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
          with:
            image-ref: ghcr.io/${{ github.repository }}:${{ github.sha }}
            format: "table"
            ignore-unfixed: true
            severity: "CRITICAL,HIGH"